@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000;
  color: #fff;
}

.header__back {
  background: linear-gradient(#000, rgba(0, 0, 0, 0.5), transparent);
}

.catchImg {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.catchImg::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: inset 0 0 10px 15px #000;
}

.catchImg img {
  width: 100%;
}

.swiper-pagination-bullet {
  background-color: #eee;
}

.swiper-pagination-bullet-active {
  background-color: white;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  transition: opacity 0.5s ease, transform 0.5s ease;
  z-index: 999;
  opacity: 1;
  transform: translateY(0);
  padding: 10px 0;
}

header.fade {
  opacity: 0;
  transform: translateY(-100%);
}

iframe {
  z-index: 999;
}

.responsive-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logo-pc {
  display: none;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
  color: #f00;
  width: 80%;
}

.modal-content {
  background-color: white;
  padding: 20px 20px;
  border-radius: 10px;
}

.bookmark-last::after,
.search-last::after {
  content: "";
  width: 30%;
  display: block;
}

.swiper-pagination-bullet {
  background: #fff !important; /* 通常の点の色 */
}

.swiper-pagination-bullet-active {
  background: #fbbf24 !important; /* アクティブな点の色 */
}

@media screen and (min-width: 960px) {
  .responsive-image {
    position: fixed;
    top: 0;
    right: 0;
    z-index: -10;
  }

  .responsive-image::after {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    display: block;
    width: 100vw;
    height: 100vh;

    background-color: hsla(359, 100%, 50%, 0);
    background-image: radial-gradient(
        at 52% 99%,
        hsla(222, 35%, 23%, 0.98) 0px,
        transparent 50%
      ),
      radial-gradient(at 0% 47%, hsla(222, 35%, 23%, 0.98) 0px, transparent 50%),
      radial-gradient(
        at 74% 32%,
        hsla(222, 35%, 35%, 0.14) 0px,
        transparent 50%
      ),
      radial-gradient(at 1% 1%, hsla(222, 35%, 23%, 0.98) 0px, transparent 50%),
      radial-gradient(
        at 0% 100%,
        hsla(222, 35%, 23%, 0.98) 0px,
        transparent 50%
      ),
      radial-gradient(
        at 93% 100%,
        hsla(222, 35%, 23%, 0.98) 0px,
        transparent 50%
      );

    background-color: rgba(0, 0, 0, 0.3);
  }

  .thumbnail__img {
    height: 50vh;
  }

  .logo-mb {
    display: none;
  }

  .logo-pc {
    display: block;
  }

  .item__text {
    width: 70%;
  }

  .header__logo {
    width: 15%;
  }

  .modal {
    width: 30%;
  }
}
